@charset "utf-8";
/* reset */
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p ,a,address,em,img,strong,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,footer,header,nav,section{margin: 0;padding: 0;border: 0;}
main{display: block;}
ol,ul{list-style: none;}
table{border-collapse: collapse;border-spacing: 0;}
a{display: block;color: #44455B;text-decoration: none;}
img{display: block;}
/* common */
.blind{position: absolute;top: 0;left: -9999px;}
body,button,input,select,table,textarea{color: #44455B;font-size: 14px;font-family: '맑은 고딕', 'Malgun Gothic', sans-serif;}
/* .inner_ct{margin: 0 auto;width: 1280px;} */
.full_ct{}
.full_ct:after{content: "";display: block;clear: both;}
.inner_lt{float: left;width: 220px;background-color: #44455B;}
.inner_rt{float: right;width: calc(100% - 220px);}
.ir{background-repeat: no-repeat;text-indent: -9999px;}
.clearfix:after{content: "";display: block;clear: both;}
.ellipsis{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

/* layout */
html{}
body{}
.wrap{display: flex;flex-direction: column;position: absolute;width: 100%;min-width: 1080px;height: 100%;}
#header{position: relative;z-index: 30;}
#container{display: flex;position: relative;z-index: 20;height: calc(100% - 69px);}

/* module */

/* header */
#header .inner_rt{border-bottom: 1px solid #CECFD4;}
#header .logo_wrap{}
#header .logo_wrap a{padding: 17px 17px 16px;}
#header .logo_wrap .logo{margin-left: 8px;width: 158px;}
#header .nav_wrap{float: left;}
#nav{padding-left: 20px;}
#nav .nav_list{float: left;padding: 22px 6px;}
#nav .nav_list a{position: relative;font-size: 18px;font-weight: bold;transition: 0.2s;}
#nav .nav_list a:hover{color: #CB7999;transition: 0.2s;}
#nav .nav_list a:before{content: "";position: absolute;top: -4px;left: 51%;width: 0;height: 3px;background-color: #CB7999;transition: 0.5s;}
#nav .nav_list.on a:before{left: 2%;width: 96%;transition: 0.5s;}

.gnb_wrap{float: right;}
.gnb_wrap .gnb_ctn{float: left;}
.gnb_wrap .gnb_ctn .notice_link{padding: 16px 4px 0;font-size: 24px;color: #44455B;}
.gnb_wrap .gnb_ctn .logout_link{padding: 16px 10px 0 6px;font-size: 24px;color: #44455B;transition: 0.2s;}
.gnb_wrap .gnb_ctn .notice_link:hover{color: #CB7999;transition: 0.2s;}
.gnb_wrap .gnb_ctn .logout_link:hover{color: #CB7999;transition: 0.2s;}
.gnb_wrap .gnb_ctn.user_wrap a{transition: 0.2s;}
.gnb_wrap .gnb_ctn.user_wrap:hover a{color: #CB7999;transition: 0.2s;}
.gnb_wrap .user_wrap .info_wrap{float: left;padding-top: 15px;}
.gnb_wrap .user_wrap .info_wrap .info_ctn{text-align: right;font-size: 14px;}
.gnb_wrap .user_wrap .info_wrap .info_ctn:nth-child(2){font-weight: bold;}
.gnb_wrap .user_wrap .user_img_wrap{float: left;}
.gnb_wrap .user_wrap .user_img_wrap.user_img_none{padding: 7px 20px 0 10px;font-size: 40px;color: #44455B;}
.gnb_wrap .user_wrap .user_img_wrap.user_img_has{overflow: hidden;margin: 15px 20px 0 10px;width: 38px;height: 38px;border-radius: 50%;}
.gnb_wrap .user_wrap .user_img_wrap.user_img_has img{width: 100%;height: 100%;}

/* container */
#container #scroll_area{overflow-x: auto;}
#container .full_ct{width: 100%;}
#container .inner_lt{height: 100%;}
#container .inner_rt{height: 100%;}

/* input, select 공통 */
select{padding: 0 4px;width: 100px;height: 32px;line-height: 32px;border: 1px solid #CACDD4;border-radius: 5px;cursor: pointer;transition: 0.25s;}
input:not([type=checkbox]):not([type=radio]){padding: 0 4px;height: 32px;line-height: 32px;border: 1px solid #CACDD4;border-radius: 5px;transition: 0.25s;box-sizing: border-box;}
select:focus{outline: none;border-color: #9FA2AA;box-shadow: 1px 1px 2px 1px rgba(100, 100, 100, 0.1) inset;transition: 0.25s;}
input:not([type=checkbox]):not([type=radio]):focus{outline: none;border-color: #9FA2AA;box-shadow: 1px 1px 2px 1px rgba(100, 100, 100, 0.1) inset;transition: 0.25s;}
select:hover{outline: none;border-color: #9FA2AA;box-shadow: 1px 1px 2px 1px rgba(100, 100, 100, 0.1) inset;transition: 0.25s;}
input:not([type=checkbox]):not([type=radio]):hover{outline: none;border-color: #9FA2AA;box-shadow: 1px 1px 2px 1px rgba(100, 100, 100, 0.1) inset;transition: 0.25s;}
button{padding: 0 20px;height: 32px;line-height: 32px;border: 1px solid #44455B;border-radius: 5px;background-color: transparent;cursor: pointer;transition: 0.25s;}
button:hover{background: #44455B;color: #fff;transition: 0.25s;}
button:hover > a{color: #fff;}
button:not(:last-child){margin-right: 3px;}
.button{display: inline-block;padding: 0 20px;height: 32px;line-height: 32px;border: 1px solid #44455B;border-radius: 5px;background-color: transparent;cursor: pointer;box-sizing: border-box;transition: 0.25s;}
.button:hover{background: #44455B;color: #fff;transition: 0.25s;}
.button:hover > a{color: #fff;}
.button:not(:last-child){margin-right: 3px;}
.btn_white{color: #9FA2AA;border-color: #9FA2AA;}
.btn_white:hover{background: #9FA2AA;color: #fff;}
.btn_white:hover > a{color: #9FA2AA;}
.btn_blue{color: #6382D4;border-color: #6382D4;}
.btn_blue:hover{background: #6382D4;color: #fff;}
.btn_blue:hover > a{color: #6382D4;}
.btn_pink{color: #CB7999;border-color: #CB7999;}
.btn_pink:hover{background: #CB7999;color: #fff;}
.btn_pink:hover > a{color: #CB7999;}
.btn_solid{margin: 20px 10px 0;width: 200px;height: 40px;line-height: 40px;color: #fff;border-color: #CB7999;background-color: #CB7999;}
.btn_solid a{color: #fff;}
.btn_solid:hover{background: transparent;color: #CB7999;}
.btn_solid:hover a{background: transparent;color: #CB7999;}
.button.btn_solid{text-align: center;}

.btn_solid_main{color: #fff;background-color: #44455B;border-color: #44455B;}
.btn_solid_main:hover{background: #fff;color: #44455B;}
.btn_solid_main:hover > a{color: #44455B;}
.btn_solid_white{color: #fff;background-color: #9FA2AA;border-color: #9FA2AA;}
.btn_solid_white:hover{background: transparent;color: #9FA2AA;}
.btn_solid_white:hover > a{color: #9FA2AA;}
.btn_solid_blue{color: #fff;background-color: #6382D4;border-color: #6382D4;}
.btn_solid_blue:hover{background: #fff;color: #6382D4;}
.btn_solid_blue:hover > a{color: #6382D4;}
.btn_solid_pink{color: #fff;background-color: #CB7999;border-color: #CB7999;}
.btn_solid_pink:hover{background: #fff;color: #CB7999;}
.btn_solid_pink:hover > a{color: #CB7999;}
 
/* jquery modal custom */
.blocker{z-index: 5000;min-width: 1080px;}
.modal{padding: 15px 15px;}
.modal a.close-modal{top: 4px;right: 0;text-indent: 0;color: transparent;background-image: none;}
.modal a.close-modal:before{content: "x";position: absolute;top: 0;left: 0;color: #44455B;width: 24px;height: 24px;font-size: 22px;font-weight: bold;}

/* modal 스타일 */
.modal_pop{}
.modal_pop .main_tit{font-size: 16px;}


/* 서브메뉴 테이블 모양 */
#container #menu_area{padding: 10px 20px;}
#container #menu_area .menu_area_tit{padding: 13px 0;font-size: 22px;color: #fff;font-weight: bold;}
#container #menu_area .menu_list a{padding: 14px 0;color: #fff;font-size: 16px;transition: 0.2s;}
#container #menu_area .menu_list.on>a{font-weight: bold;text-decoration: underline;}
#container #menu_area .menu_list a:hover{color: #CB7999;font-weight: bold;transition: 0.2s;}
#container #menu_area .menu_list .sub_menu_ctn{display: none;padding-left: 8px;}
#container #menu_area .menu_list.on .sub_menu_ctn{display: block;}
#container #menu_area .menu_list .sub_menu_ctn a{padding: 5px 0;font-weight: normal;opacity: 0.8;}
#container #menu_area .menu_list .sub_menu_ctn a:hover{font-weight: bold;opacity: 1;}
#container #menu_area .menu_list.on .sub_menu_ctn .sub_menu_list.on a{font-weight: bold;color: #fff;opacity: 1;text-decoration: underline;}
#container .main_ctn:not(.calendar_page){padding: 20px 30px;}
#container .tbl_top_wrap{padding: 20px 30px;}
#container .menu_tit{padding-bottom: 30px;}
#container .menu_tit h2{font-size: 22px;}

/* container 공통 pager */
#container .pager_wrap{padding: 60px 0;text-align: center;}
#container .pager_wrap .pager_com{display:inline-block;width: 36px;margin: 0 2px;border: 1px solid #44455B;border-radius: 4px;}
#container .pager_wrap .pager_num.on{background-color: #44455B;}
#container .pager_wrap .pager_com a{padding: 9px 0;text-align: center;color: #44455B;transition: 0.25s;}
#container .pager_wrap .pager_com a:hover{color: #fff;background-color: #44455B;transition: 0.25s;}
#container .pager_wrap .pager_num.on a{color: #fff;}
#container .pager_wrap .pager_com.disabled{position: relative;}
#container .pager_wrap .pager_com.disabled:after{content: "";position: absolute;top: 0;left: 0;bottom: 0;right: 0;}

/* 테이블 모양 */
/* .tbl_common{padding-top: 10px;} */
/* .tbl_common.tbl_basic{padding: 0 30px;} */
.tbl_common .tbl_wrap{border-top: 1px solid #44455B;border-bottom: 1px solid #44455B;text-align: center;}
.tbl_common.tbl_basic .tbl_wrap tr th{text-align: left;}
.tbl_common.tbl_basic .tbl_wrap tr td{text-align: left;}
.tbl_common .tbl_wrap .tbl_ctn{width: 100%;}
.tbl_common .tbl_wrap tr:nth-child(n+2){border-top: 1px solid #CACDD4;}
.tbl_common .tbl_wrap tr:nth-child(2){border-top: 1px solid #9FA2AA;}
.tbl_common .tbl_wrap tr th{padding: 10px 0;}
.tbl_common .tbl_wrap tr td{padding: 10px 0;}
.tbl_common.tbl_basic .tbl_wrap tr th{padding: 14px 10px;}
.tbl_common.tbl_basic .tbl_wrap tr td{padding: 14px 10px;}
.tbl_common.tbl_basic .tbl_wrap tr td.tit{font-weight: bold;}
.tbl_common.tbl_basic .tbl_wrap tr.tbl_main_tit ~ tr td.tit{font-weight: normal;}
.tbl_commonn.tbl_basic .tbl_wrap tr:nth-child(n){border-top: 1px solid #CACDD4;}
.tbl_common.tbl_basic .tbl_wrap tr:nth-child(2){border-top: 1px solid #CACDD4;}

/* 일반 텍스트 리스트 모양 */
.main_ctn .main_cnt .main_cnt_list{}
.main_ctn .main_cnt .main_cnt_tit{float: left;width: 140px;font-size: 16px;font-weight: bold;}
.main_ctn .main_cnt .main_cnt_list{padding-bottom: 22px;}
.main_ctn .main_cnt .main_cnt_desc{float: left;font-size: 16px;}

/* 추가설명 pop */
.add_desc_pop{position: relative;}
.add_desc_pop .add_desc_tit{line-height: 17px;}
.add_desc_pop .add_desc_tit .question_mark{display: inline-block;margin: 0 4px;font-size: 17px;}
.add_desc_pop .add_desc_box{opacity: 0;position: absolute;top: 100%;left: 0;z-index: -1;transition: 0.25s;}
.add_desc_pop:hover .add_desc_box{opacity: 1;z-index: 100;padding-top: 10px;transition: 0.25s;}
.add_desc_pop .add_desc_box .box_cnt{padding: 16px;width: 200px;background-color: #fff;border: 1px solid #CACDD4;border-radius: 5px;box-shadow: 1px 1px 3px 1px rgba(100, 100, 100, 0.1);}

/* 주소 폼 */
.address_form_wrap{}
.address_form_wrap #postcode_form{margin-right: 5px;width: 100px;cursor: pointer;}
.address_form_wrap #address_form{margin-top: 5px;width: 350px;cursor: pointer;}
.address_form_wrap #detailAddress_form{margin-top: 5px;width: 350px;}

.address_form_wrap #up_postcode_form{margin-right: 5px;width: 100px;cursor: pointer;}
.address_form_wrap #up_address_form{margin-top: 5px;width: 350px;cursor: pointer;}
.address_form_wrap #up_detailAddress_form{margin-top: 5px;width: 350px;}
/* textarea */
textarea{width: 350px;resize: none;border: 1px solid #CACDD4;border-radius: 5px;}

/* datepicker */
.ui-corner-all.ui-widget .ui-state-default{border-color: #fff;background-color: #fff;border-radius: 5px;}
.ui-corner-all.ui-widget .ui-state-default.ui-state-active{background-color: #CB7999;}
.ui-corner-all.ui-widget .ui-state-default.ui-state-hover{background-color: #44455B;color: #fff;}
.ui-corner-all.ui-widget .ui-state-highlight{background-color: #44455B;color: #fff;}
.ui-corner-all.ui-widget.ui-datepicker .ui-datepicker-buttonpane button{padding: 0 7px;}
.ui-corner-all.ui-widget .ui-widget-header{background-color: #fff;border: none;}
.ui-corner-all.ui-widget .ui-datepicker-year{height: 26px;}
.ui-corner-all.ui-widget .ui-datepicker-month{height: 26px;}

/* .tree_img{float: left;margin-right: 5px;width: 20px;}
.tree_tit{float: left;}
.menu_list.on>a .tree_tit{text-decoration: underline;}
.sub_menu_list.on .tree_tit{text-decoration: underline;}
.sub_menu_list.on .tree_tit:hover{color: #CB7999;} */
#container #menu_area.tree_shape .menu_list .sub_menu_ctn a{padding: 0 0 13px;}
#container #menu_area.tree_shape .menu_list .sub_menu_ctn{padding-left: 23px;}
#container #menu_area.tree_shape a{background-image: url(../images/w_folder.svg);background-size: 20px;background-repeat: no-repeat;padding-left: 27px;padding-top: 10px;background-position: 0px 9px;}
#container #menu_area.tree_shape .menu_list .sub_menu_ctn a{padding: 5px 0 13px 27px;background-position: 0 5px;}

/* scrollbar */
::-webkit-scrollbar {width: 8px; height: 8px; border: 3px solid #ddd;}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height: 10px;background-color: #ddd;}
::-webkit-scrollbar-track {background: #ddd;-webkit-border-radius: 10px; border-radius:10px;}
::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: #86868b; -webkit-border-radius: 8px; border-radius: 8px;}


/* 주소록 팝업 */
.addr_info_pop_wrap{padding: 15px 0;}
.addr_dept_pop_ctn{}
.addr_info_pop{padding: 15px;border: 1px solid #CACDD4;border-radius: 5px;}
.addr_info_pop .name_area{float: left;}
.addr_info_pop .name_area .name_cnt{line-height: 30px;font-weight: bold;}
.addr_info_pop .link_area{float: right;}
.addr_info_pop .link_area button{line-height: 30px;}
.addr_info_pop .desc_wrap{padding: 30px 0 15px;}
.addr_info_pop .img_area{float: left;padding: 0 25px 0 13px;width: 120px;}
.addr_info_pop .info_area{float: left;width: calc(100% - 175px);font-size: 15px;}
.addr_info_pop.addr_com_info_pop .info_area{width: 100%;}
.addr_info_pop .user_img_wrap{}
.addr_info_pop .user_img_wrap.user_img_none{font-size: 120px;line-height: 120px;color: #dedede;}
.addr_info_pop .user_img_wrap.user_img_has{overflow: hidden;width: 120px;height: 120px;border-radius: 50%;}
.addr_info_pop .user_img_wrap.user_img_has img{width: 100%;height: 100%;}
.addr_info_pop .info_list:not(:last-child){padding-bottom: 10px;}
.addr_info_pop .info_list .tit{float: left;width: 100px; font-weight: bold;}
.addr_info_pop.addr_com_info_pop .info_list .tit{padding-left: 10px;width: 120px;}
.addr_info_pop .info_list .cnt{float: left;width: calc(100% - 100px);}
.addr_info_pop.addr_com_info_pop .info_list .cnt{padding-right: 10px;width: calc(100% - 140px);}
.addr_info_pop .spe_day_tbl_wrap{overflow-y: auto;max-height: 150px;}
.addr_info_pop .spe_day_tbl{margin-top: 10px;width: 100%;border-top: 1px solid #dcbdc9;border-bottom: 1px solid #dcbdc9;text-align: center;}
.addr_info_pop .spe_day_tbl tr th{padding: 8px 20px;}
.addr_info_pop .spe_day_tbl tr td{padding: 8px 0;border-top: 1px solid #ddd;}

.pop_close_wrap{text-align: right;}


.addr_info_pop_wrap .addr_dept_pop{padding: 15px;}
.addr_de_pop_ctn{padding-top: 10px;}
.addr_de_pop_ctn .addr_dept_pop_ctn{float: left;overflow-y: auto;width: 200px;height: 293px;border: 1px solid #CACDD4;border-radius: 5px;}
.addr_de_pop_ctn .addr_info_pop_ctn{float: right;margin-left: 10px; width: calc(100% - 212px);height: 100%;}
.addr_de_pop_wrap .addr_info_pop .img_area{width: 80px;padding: 0 20px 0 5px;}
.addr_de_pop_wrap .addr_info_pop .info_area{width: calc(100% - 165px);}
.addr_de_pop_wrap .addr_info_pop .user_img_wrap.user_img_none{font-size: 80px;line-height: 80px;}
.addr_de_pop_wrap .addr_info_pop .user_img_wrap.user_img_has{width: 80px;height: 80px;}
.addr_de_pop_wrap .addr_info_pop .info_area{font-size: 14px;}

/* 기안서식 테이블관련 */
table.tbl_form {
    width: 100%;
    min-height: 30%;
}
table.tbl_form td {
    border: 1px solid;
}
