@charset "UTF-8";

.eas_information.top_eas_information .eas_info_tit td{padding-top: 10px;padding-bottom: 17px;}
.eas_information.top_eas_information td{padding-bottom: 20px;}
.tbl_bottom{padding-bottom: 20px;}
.emer_box{background-color: #CB7999;font-style: normal;color: #fff;padding: 2px 8px;}
.docu_tit{text-align: center;padding: 10px 0 20px;}
.tbl_common.tbl_basic .tbl_wrap tr.eas_tit_center td{text-align: center;}
.pdfContainer .tbl_common .tbl_wrap{border: none;}
/* #easDocument{border-top: 2px solid #44455B;border-bottom: 2px solid #44455B;text-align: center;} */
#easDocument .tbl_ctn{border: 2px solid #44455b;}
.eas_content{padding: 40px 10px;}
.eas_content img{width: 100%;}