@charset "UTF-8";

/* 메인페이지 */
.main_page .now_time_wrap{}
.main_page .now_time_wrap .now_time{height: 40px;line-height: 40px;color: #fff;background-color: #CB7999;font-weight: bold;text-align: center;font-size: 15px;}
.main_page .non_notice_wrap{padding: 0 6px;height: 44px;line-height: 44px;}
.main_page .non_notice_wrap .non_notice_tit{float: left;font-weight: bold;color: #fff;}
.main_page .non_notice_wrap .non_notice_cnt{float: right;color: #fff;}
.main_page .cal_wrap{padding:  6px 0;border-top: 1px solid #CB7999;border-bottom: 1px solid #CB7999;}
.main_page .jqx-widget-content{background-color: transparent;border: none;color: #fff;}
.main_page .jqx-calendar-title-content{color: #fff;}
.main_page .jqx-calendar td{color: #fff;}
.main_page .jqx-calendar-cell-today{border: none;background-color: rgba(203, 121, 153, 0.6);border: none;}
.main_page .jqx-fill-state-hover{border: none;background-color: rgba(203, 121, 153, 0.6);}
.main_page .jqx-fill-state-pressed{border: none;background-color: rgba(0, 0, 0, 0.3);}
.main_page .jqx-widget-header{background-color: transparent;}

.main_page .top_wrap{margin-top: 10px;}
.main_page .bottom_wrap{margin: 1% 0 0;}
.main_page .bottom_lt_wrap{float: left;width: 50%;}
.main_page .bottom_rt_wrap{float: left;width: 50%;}
.main_page .contents_wrap{border: 1px solid #ddd;border-radius: 5px;}
.main_page .notice_wrap{padding: 1%;}
.main_page .eas_wait_wrap{padding: 2%;margin-right: 1%;}
.main_page .company_bd_wrap{padding: 2%;margin-top: 2%;margin-right: 1%;}
.main_page .mail_wrap{padding: 2%;margin-left: 1%;}
.main_page .team_bd_wrap{padding: 2%;margin-top: 2%;margin-left: 1%;}
.main_page .contents_wrap .tit{margin-bottom: 6px;padding: 2px 0 10px;font-size: 16px;font-weight: bold;border-bottom: 1px solid #E6E9F0;}
.main_page .contents_wrap .cnt .list{padding: 10px 0;}
.main_page .contents_wrap .cnt .list .cnt_tit{float: left;width: 68%;font-weight: bold;color: #6c6d80;}
.main_page .contents_wrap .cnt .list.read .cnt_tit{color: #afb0b7;}
.main_page .contents_wrap .cnt .list .cnt_name{float: left;width: 14%;text-align: right;}
.main_page .contents_wrap .cnt .list .cnt_time{float: left;width: 18%;color: #CACDD4;text-align: right;}

/* 주소록 */
.address_page {}
.address_page .main_ctn .main_cnt .main_cnt_list_btn{padding: 40px 0;text-align: right;}
.addr_pop_cnt{padding: 30px 6px 0;}
.addr_pop_cnt .spe_day_ctn{padding-top: 10px;}
.addr_pop_cnt .spe_day_list{margin-bottom: 10px;padding: 10px;width: 430px;border: 1px solid #f5cadb;border-radius: 5px;}
.addr_pop_cnt .spe_day_tit{padding-bottom: 6px;}
.addr_pop_cnt .spe_day_date_type{padding: 4px 0;text-align: left;}
.addr_pop_cnt .spe_day_date_btn{text-align: right;line-height: 30px;height: 30px;}
.addr_pop_cnt .spe_day_add_btn{}
.addr_pop_cnt .spe_day_wrap{display: none;}
.addr_pop_cnt .spe_day_wrap .datepicker{margin: 0 5px;width: 164px;}
.addr_pop_cnt .up_spe_day_wrap{display: none;}
.addr_pop_cnt .up_spe_day_wrap .datepicker{margin: 0 5px;width: 164px;}
.addr_pop_cnt .spe_day_tbl {border-top: 1px solid #dcbdc9;border-bottom: 1px solid #dcbdc9;text-align: center;}
.addr_pop_cnt .spe_day_tbl tr th{padding: 8px 20px;}
.addr_pop_cnt .spe_day_tbl tr td{padding: 8px 0;border-top: 1px solid #ddd;}
.addr_pop_cnt .main_cnt_half .main_cnt_list{float: left;width: 50%;}
.addr_pop_cnt .main_ctn .main_cnt .main_cnt_tit{font-size: 13px; padding-bottom: 3px;}
.addr_pop_cnt .main_ctn .main_cnt .main_cnt_list{padding-bottom: 24px;}
.addr_pop_cnt .main_ctn .main_cnt .main_cnt_list:nth-child(2) .main_cnt_tit{padding-left: 13px;}
.addr_pop_cnt select{width: 140px;height: 30px;font-size: 13px;}
.addr_pop_cnt input[type=text]{width: 140px;height: 30px;font-size: 13px;line-height: 30px;}
.addr_pop_cnt input[type=text].spe_name{width: 190px;}
.addr_pop_cnt input[type=email]{width: 140px;height: 30px;font-size: 13px;line-height: 30px;}
.addr_pop_cnt .main_ctn .main_cnt .main_cnt_tit{width: 70px;line-height: 30px;}
#address_srch_btn{height: 30px;line-height: 30px;font-size: 12px;}
#up_address_srch_btn{height: 30px;line-height: 30px;font-size: 12px;}
.addr_pop_cnt .spe_day_date_btn{display: inline-block;height: 30px;line-height: 30px;font-size: 12px;}
.addr_pop_cnt .up_spe_day_date_btn{display: inline-block;height: 30px;line-height: 30px;font-size: 12px;}
.addr_pop_cnt .spe_day_date_btn button{height: 30px;line-height: 30px;font-size: 12px;}
.addr_pop_cnt .up_spe_day_date_btn button{height: 30px;line-height: 30px;font-size: 12px;}
.addr_pop_cnt .addr_spe_del_btn{height: 30px;line-height: 30px;font-size: 12px;}
.addr_pop_cnt .address_form_wrap #address_form{width: 382px;}
.addr_pop_cnt .address_form_wrap #detailAddress_form{width: 382px;}
.addr_pop_cnt .address_form_wrap #up_address_form{width: 382px;}
.addr_pop_cnt .address_form_wrap #up_detailAddress_form{width: 382px;}
.address_page .inner_lt .menu_wrap{height: 100%;}
.address_page .tree_menu_wrap{overflow-y: auto;height: calc(100% - 80px);padding: 10px 20px;}
/* Chrome, Safari용 스크롤 바 */
.address_page .tree_menu_wrap::-webkit-scrollbar {width: 8px; height: 8px; border: 3px solid #44455B;}
.address_page .tree_menu_wrap::-webkit-scrollbar-button:start:decrement, .address_page .tree_menu_wrap::-webkit-scrollbar-button:end:increment {display: block; height: 10px;background-color: #44455B;}
.address_page .tree_menu_wrap::-webkit-scrollbar-track {background: #44455B; -webkit-border-radius: 10px; border-radius:10px;}
.address_page .tree_menu_wrap::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: rgba(255,255,255,.2); -webkit-border-radius: 8px; border-radius: 8px;}


.address_page .tbl_common.tbl_basic .tbl_wrap tr th{text-align: center;}
.address_page .tbl_common.tbl_basic .tbl_wrap tr td{text-align: center;}
.address_page .main_ctn{position: relative;}
.address_page .main_tit_rt_btn{position: absolute;top: 20px;right: 30px;line-height: 30px;}
.address_page .main_srch_wrap{margin-top: 40px;text-align: right;margin-bottom: 10px;}

/* calendar page */
.calc_page .cal_wrap{margin-top: 12px;padding:  6px 0;border-top: 1px solid #CB7999;border-bottom: 1px solid #CB7999;}
.calc_page .jqx-widget-content{background-color: transparent;border: none;color: #fff;}
.calc_page .jqx-calendar-title-content{color: #fff;}
.calc_page .jqx-calendar td{color: #fff;}
.calc_page .jqx-calendar-cell-today{border: none;background-color: rgba(203, 121, 153, 0.6);border: none;}
.calc_page .jqx-fill-state-hover{border: none;background-color: rgba(203, 121, 153, 0.6);}
.calc_page .jqx-fill-state-pressed{border: none;background-color: rgba(0, 0, 0, 0.3);}
.calc_page .jqx-widget-header{background-color: transparent;}
.calc_pop .calc_type_ctn{display: none;}
.calc_pop .calc_ctn_list{padding: 6px 0;}
.calc_pop .calc_ctn_list:nth-child(1){padding-top: 30px;}
.calc_pop .calc_ctn_list .tit{float: left;padding-left: 2%;width: 18%;line-height: 32px;font-weight: bold;}
.calc_pop .calc_ctn_list .cnt{float: left;width: 80%;}
.calc_pop .calc_ctn_list .cnt{float: left;width: 80%;}
.calc_pop .calc_ctn_list .cnt .txt{line-height: 32px;}
.calc_pop .calc_ctn_list .cnt .date{width: 88px;}
.calc_pop .calc_ctn_list .cnt textarea{padding: 4px;overflow-y: auto;width: 94.5%;}
.calc_pop .calc_ctn_list .cnt .calc_tit{width: 96%;}
.calc_pop .all_day{display: none;}
.calc_pop .calc_day .sel_day{width: 52%;}
.calc_pop .calc_day .all_day{width: 12%;}
.calc_pop .calc_day .day_chk{width: 10%;line-height: 32px;cursor: pointer;}
.calc_pop .addr_de_pop_ctn .addr_info_pop_ctn{border: 1px solid #CACDD4;border-radius: 5px;float: left;width: calc(100% - 240px);height: 198px;overflow-y: auto;}
.calc_pop .addr_de_pop_ctn .tbl_common{padding: 10px;}
.calc_pop .addr_de_pop_ctn .addr_dept_pop_ctn{height: 198px;overflow-y: auto;}
.calc_pop .addr_info_pop_wrap{padding-top: 0;}
.calc_pop .tbl_tit{font-weight: bold;padding-bottom: 10px;}
.calc_pop .tbl_common.tbl_basic .tbl_wrap tr th{padding: 5px 0;font-size: 12px;text-align: center;}
.calc_pop .tbl_common.tbl_basic .tbl_wrap tr td{padding: 5px 0;font-size: 12px;text-align: center;}
.calc_pop .tbl_common.tbl_basic .tbl_wrap table:not(#detCalAssoTbl) tr td{cursor: pointer;}
.calc_pop .addr_de_pop_wrap span.fancytree-title{font-size: 14px;}
.calc_pop.calc_sch_det{padding-bottom: 20px;}
.calc_pop.calc_sch_det .cnt{width: 76%;}
.calc_pop.calc_sch_det .cnt .tbl_basic{padding-top: 10px;}
.calc_pop.calc_sch_det .cnt .tbl_basic .tbl_wrap{overflow-y: auto;max-height: 130px;}

#outUpdateBtn{padding: 0;}
#outUpdateBtn a{padding: 0 20px;}
.delOutBtnFrom{display: inline-block;}

/* 캘린더 스타일 */
.fc-unthemed td.fc-today{background: #EFD7E0;}
.calc_pop .calc_ctn_list .cnt.parti_day{width: 52%;}
.fc-toolbar{position: relative;}
.fc-toolbar h2{padding: 28px 20px 0px;font-size: 18px;}
.fc-toolbar .fc-right{position: absolute;top: 23px;left: 138px;}
.fc-button-primary{background-color: #fff;border: 1px solid #c4c4c4;color: #44455B;}
.fc-button{padding: 10px;}
.fc-button:focus{box-shadow: none;}
.fc-button .fc-icon{font-size: 18px;padding: 4px 0px 4px;}
.fc-button-primary:disabled{padding: 0 7px;background-color: #fff;border: 1px solid #c4c4c4;color: #44455B;opacity: 1;}
.fc-button-primary:not(:disabled){padding: 0 7px;background-color: #fff;border: 1px solid #c4c4c4;color: #44455B;opacity: 1;}
.fc-button-primary:hover{background-color: #CB7999;border: 1px solid #CB7999;color: #fff;opacity: 1;}
.fc-toolbar>*>:not(:first-child){margin-left: 2px;}
.fc-toolbar button{padding: 0;}
.fc-dayGrid-view .fc-day-number, .fc-dayGrid-view .fc-week-number{font-size: 13px;padding: 6px;}
.fc th{padding: 4px 0;}
.fc-event, .fc-event:hover{color: #44455B;font-weight: bold;}
.calendar_page{position: relative;}
.calendar_page .auth_wrap{position: absolute;right: 18px; top: 23px;z-index: 100;}
.calendar_page .auth_wrap .auth_cnt{float: left;line-height: 32px;}
.calendar_page .auth_wrap .auth_cnt .auth_list{float: left;line-height: 32px;padding-left: 6px;color:#000;cursor: pointer;}
.calendar_page .auth_wrap .auth_cnt .auth_list label{padding: 2px;border-radius: 5px;-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;cursor: pointer;}
.calendar_page .auth_wrap .auth_cnt .auth_list.solo label{background-color: #F5EFD8;}
.calendar_page .auth_wrap .auth_cnt .auth_list.dept label{background-color: #D3E7D2;}
.calendar_page .auth_wrap .auth_cnt .auth_list.grp label{background-color: #D8EDF5;}
.calendar_page .auth_wrap .auth_cnt .auth_list.comp label{background-color: #EAD8F5;}
.calendar_page .auth_wrap .addr_sel_wrap{float: left;margin-left: 10px;}
.detCalNoForm{display: inline-block;}
.calDetSchPop{display: none;}
.fc-day:hover{background-color: #eeeef3;cursor:pointer;}
.addr_sel_wrap .add_sel_ipt{-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;cursor: pointer;}
.fc-toolbar h2{-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;cursor: pointer;}
#newCalcUpBtn{display: none;}
.btn_white > a:hover{color: #fff;}
.pointer{cursor: pointer;}
.fc-widget-header{background: #fff !important;font-weight: bold;}
.fc-unthemed .fc-popover{border-color: #44455B;}
a.fc-more{font-weight: bold;}
#teamGrpEditBtn{margin-right: 0;}