@charset "UTF-8";

.tit_rel {
	position: relative;
}

.tit_abs {
	position: absolute;
	top: 0px;
	left: 110px;
}

.tit_abs2 {
	position: absolute;
	top: 0px;
	left: 130px;
}

.notice_icon {
	color: #bfbfbf;
	display: inline-block;
	font-size: 37px;
	width: 40px;
	text-align: center;
}

.notice_cnt {
	padding-left: 5px;
	display: inline-block;
}

.notice_type, .notice_content, .notice_suffix {
	color: #44455B;
} 

.notice_time {
	color: #908d8d;
}

.notice_name, .notice_time {
	font-weight: normal;
	font-size: 12px;
}

.readcheck {
	color: #ddd;
}

.loginbox {
	border: 1px solid rgba(0, 0, 0, 0.12);;
	margin: 10% auto;
	margin-bottom: 17px;
	width: 500px;
	height: 400px;
}

.loginlogo {
	width: 220px;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 20px;
}

.loginlogo > img {
	width : 100%;
}

.loginform {
	width: 330px;
	margin: 0 auto;
}

.loginid, .loginpwd {
	margin: 5px 0;
}

#empId2, #empPwd {
	width: 100%;
	height: 40px;
}

#loginbtn {
	background-color: #44455B;
	border-color: #44455B;
	width: 330px;
	margin: 0 0;
}

#loginbtn:hover {
	background-color: #CB7999;
	color: #fff;
	border-color: #CB7999;
}

.savelogin {
	width: 330px;
	margin: 10px auto;
}

#saveid {
	position: relative;
	top: 2.5px;
}

#saveid + label {
	font-size: 12px;
}

.logincopyright {
	text-align: center;
	color: rgba(0, 0, 0, 0.38);
	font-size: 10px;
}

#notice-nocnt {
	text-align:center; 
	padding: 100px 0;
	font-weight: bold;
	font-size: 20px;
}

.mail_clip, .mail_star {
	width: 16px;
}

.mail_star:hover {
	cursor: pointer;
}

.mail_allchk {
	display: inline-block;
	border: 1px solid #cbcbcb;
	padding: 5px 5px;
	margin-left: 4px;
	background-color: #f8f8f8;
}

.mail_allchk:hover {
	border-color: #bbb;
    background-color: #ebebeb;
    color: #2f2f2f;
}

#mail_h2, .mail_count {
	display: inline-block;
}

.mail_count {
	position: relative;
    bottom: 4px;
}

.mail_search, .mail_btn {
	margin-bottom: 10px;
}

.mail_search {
	margin-left: 4px;
}

#mail_receiver, #mail_ref, #mail_hidden_ref {
	width: 87%;
}

#mail_tit {
	width: 100%;
}

.mail_file_btn {
	float: left;
}

.mail_file_size {
	float: right;
}

.file_size {
	margin: 5px 0;
}

.mail_file {
	height: 32px;
	padding-bottom: 8px;
}

.area_txt {
	text-align: center;
}

.file_zone {
	position: relative;
	overflow-y: auto;
	padding: 20px 0;
	border: 1px solid #CACDD4;
	border-radius: 5px;
	box-sizing: border-box;
	max-height: 130px;
}

#mail_tbl {
	border-collapse: collapse;
}

#mail_tbl th {
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

file_attach_list {
	list-style: none;
}

#add_hidden_ref , #filebox_btn{
	cursor: pointer;
}

.fileinfo .size {
	float: right;
}

.size {
	padding-right: 10px;
}

.reservation {
	margin: 25px auto;
}

.reservation .option {
	display: inline-block;
}

.file_del_btn {
	margin-left: 10px;
}

.file_del_btn:hover {
	cursor: pointer;
}

.mailList .mailTitle {
	cursor: pointer;
}

.mailList .lightMailTitle {
	cursor: pointer;
}

.mailDetail {
	min-height: 200px;
}

.mailDetailSender, .mailDetailReceiver {
	padding-left: 26px;
}

.mailDetailFile {
	display: inline-block;
	margin-left: 10px;
}

#mailDetailTitle {
	padding-left: 0;
}

.lightMailTitle {
	color: #bdbdbd;
}

.mail_search_box {
	display: inline-block;
}

.notice_xbtn:hover {
	cursor: pointer;
}

.notice_list:hover {
	cursor: pointer;
}