@charset "UTF-8";

.btn_main_plus {
	display:inline-block;
	padding:0 10px;
}
.btn_main_up{
	display:inline-block;
	padding:0 10px;
}
.btn_main_down {
	display:inline-block;
	padding:0 10px;
}
.save{
	display:inline-block;
	float : right;
	margin: 5px;
}
.add {
	display: inline-block;
    margin: 5px;
    float: right;
}
.button btn_blue add {
	float : right;
}

#titleImg {
	margin-bottom: 10px;
}
.clearfix2 {
	display:flex;
}

.list {
	list-style:inherit;
}
.list2 {
	margin-left: 20px;
	font-weight: bold;
}
.descr {
	margin-left: -20px;
	color:red;
	font-weight: bold;
}
.tit1 {
	border-right: 1px solid #ddd;
	font-weight: bold; 
}
.tbl_common.tbl_basic .tbl_wrap tr td.tit2_qwe {
	border-right: 1px solid #ddd;
	font-weight: bold;
	 
	
}
.tbl_common.tbl_basic .tbl_wrap tr td.tbselect {
	text-align: left;
}
.tbl_common.tbl_basic .tbl_wrap tr td.tbdesc {
	text-align: left;
}
.tbl_common.tbl_basic .tbl_wrap tr td.tbsec {
	text-align: left;
}
.tbl_common.tbl_basic .tbl_wrap tr td.tbauto {
	text-align: left;
}
.tbl_common.tbl_basic .tbl_wrap tr.tbcenter {
	border:none;
}
.tbl_common.tbl_basic .tbl_wrap tr.tbbot {
	border:none;
}
.tbinput{
	width:40px; 
}
.tbdiv {
	display: inline-block;
	font-weight:bold;
	padding:0 0 0 30px;
	text-align: center;
}
.tbdiv2 {
	margin-bottom: 30px;	
}
.annbtn {
	margin-top: 20px;
	margin-bottom: 100px;
}
.annbtn2 {
	display: inline-block;
}
.tbl_common.tbl_basic .tbl_wrap tr td.align {
	text-align:center;
	width:16.6%;
}
.main_cnt_desc2 {
	display: inline-block;
	float:right;
}
.test {
	position: relative;
	bottom: 5px;
}
.left {
	float:left;
}

.com_det {
	float:right;
}
.com_Img{
	margin-top: 5px;
	margin-bottom: 10px;
}
.com_addr {
	margin: 0 10px;
	
}
.main_cnt_tit.addr.com_addr2 {
	width: 250px;
	margin: 0 140px;
}
.addr {
	width:500px;
}
.addr1 {
	width: 350px;
}
.addr2 {
	width: 350px;
}
.nextStep {
	margin-bottom: 20px;
	float:right;
}
.allreg {
	float:left;
}
.allreg2 {
	margin-top: 5px;
}
.regdesc {
	color: #cdcdcd;
}
.regbtn {
	margin-bottom: 60px;
}
.reg {
	float:right;
	margin:5px;
	
}
.menu_tit.empreg {
	display: inline-flex;
}
.skip {
	margin-left: 10px;
	float: right;
	margin-bottom: 10px;
}
/* .formdet {
	margin-bottom: 400px;
} */
.btn_set {
	text-align: end;
    padding-top: 15px;
    margin-bottom: 100px;
}
.holilist {
	margin-bottom: 20px;
}

.holiinput {
	display: inline-flex;
}

.holiinput1 {
	margin-right: 35px;
	margin-top: 5px;
	display: inline-flex;
}
.holiinput2 {
	margin-left: 35px;
	margin-top: 5px;
}
.holiselect {
	margin-left: 10px;
	margin-bottom: 20px;
}
.holiadd {
	float:left;
	margin-top: 10px;
	
}
.settext {
	display: inline-flex;
	margin-right: 10px;
	margin-top : 5px;
	font-weight: bold;
}

.intext {
	margin-top: 5px;
	margin-left: 2px;
	margin-right: 2px;
}
.tbl_common.tbl_basic .tbl_wrap tr:nth-child(2).holitr1 {
	border:none;
	text-align: left;
}
.tbl_common.tbl_basic .tbl_wrap tr:nth-child(2).holitr2 {
	border:none;
	text-align: left;
}
.tbl_common .tbl_wrap tr:nth-child(n+2).holitr3 {
	border:none;
	text-align: left;
	
}
.tbl_common.tbl_basic .tbl_wrap tr td.holitd1 {
	
	text-align: left
}
.tbl_common.tbl_basic .tbl_wrap tr td.holitd2 {
		
	text-align: left
}
.tbl_common.tbl_basic .tbl_wrap tr td.holitd3 {
	text-align: left
}
.tbl_common.tbl_basic .tbl_wrap tr th {
	text-align: center;
}
.main_cnt_holiday {
	margin-left: 14px;
}
.usecheck {
	display: inline-flex;
	margin-left: 15px;
}
.main_cnt_useyn {
	margin-top: 5px;
}
.holiname {
	margin-top: 5px;
}
.holidate {
	margin-top: 5px;
}
.holiyear {
	margin-left: 10px;
	font-weight: bold;
}
.companyup {
	float:right;
	margin-right: 20px;
}
.com_sav {
	float:right;
	margin-top: 50x;
	margin-bottom: 50px;
}
.com_can {
	float:right;
	margin-top: 50x;
	margin-bottom: 50px;
}
.tbl_common.tbl_basic .tbl_wrap .jobtb  tr td{
	text-align: center;
}

.tbl_common.tbl_basic .tbl_wrap .postb tr td{
	text-align: center;
}
.tbl_common.tbl_basic .tbl_wrap .depttb tr td{
	text-align: center;
}
.wyear {
	width: 50px;
}
.modalmain {
	margin-bottom: 50px;
}
.ann_add {
	margin-top: 10px;
}
.ann_add_close {
	margin-top : 10px;
}
#ann_add_pop {
	max-width: 800px;
}
.tbl_common.tbl_basic.pri_status {
	padding: 10px;
}
.ann_add_sel {
	margin-top : 20px;
}
.oper_auth {
	margin-top: 50px;
}
input.upload_text {/*읽기전용 인풋텍스트*/
   float:left;
   width:353px;/* 버튼 포함 전체 가로 길이*/
   height:32px;
   line-height:19px;
   padding:0 3px;
   border:1px solid #bbb;
   margin: 0 8px;
}

div.upload-btn_wrap input.input_file_first{/*파일찾기 폼 투명하게*/
	
   position: absolute;
    left: 250px;
    width: 68px;
    cursor: pointer;
    opacity: 0;
   filter:alpha(opacity=0);
   -ms-filter:"alpha(opacity=0)";
   -moz-opacity:0;
}

div.upload-btn_wrap input.input_file_secondbtn{/*파일찾기 폼 투명하게*/

	top: 433px;
   position: absolute;
    left: 390px;
    width: 68px;
    cursor: pointer;
    opacity: 0;
   filter:alpha(opacity=0);
   -ms-filter:"alpha(opacity=0)";
   -moz-opacity:0;
}
.sing_name {
	margin-top: 5px;
}
.companybtn {
	margin-bottom: 10px;
}

.firstphoto{
	margin-top: 10px;	
	margin-bottom: 10px;
}
.titleImg2 {
	margin-top: 10px;
}


.jobOrdertd {
	text-align: center;
	width: 50px;	
}
.jobtd {
	width: 196px;
	height: 61px;
}
.jobNametd {
	text-align: center;
	width: 150px;
}

.tbl_common.tbl_basic .tbl_wrap tr td {
	text-align: center;
}
.formTop {
	text-align:center;
}
.formSub {
	text-align: center;
}
.topForm {
	text-align: center;
}
.arrowImg {
	display: inline-block;
	text-align: center;
}

.copy_area {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.list.copy {
	position: relative;
    left: 27px;
    font-weight: bold;
}
.tbl_ctn.formatSet {
	width: 100%;
}
.eas_content_area {
		min-height: 500px;
}
.eas_content_area .tbl_cnt *{border: 1px solid #000}

.titleImg {
	width: 150px;
	height : 150px;
	margin-bottom: 10px;
}
.topDeptName {
	width: 155px;
}
.deptnext {
	display: inline-flex;
	margin-left: 10px;
}
.firstadd {
	float: left;
	margin-left: 10px;
}
.firstdiv {
	display: inline-flex;
}
.firstcomplete {
	float: right;
}
#formatDetail {
	width: 500px;
	height: 200px;
}
.firstMenu {
	padding: 14px 0;
    color: #fff;
    font-size: 16px;
    transition: 0.2s;
}
.on {
	font-weight: bold;
}
.period_tit {
	position: relative;
    left: 10%;
}

.form_update {
	float: right;
}
.authbtn {
	float: right;
}
.firstnotice {
	color: red;
}
.skipdept {
	float: left;
	margin-left: 10px;
}

#phone1 {
	width: 50px;
	text-align: center;
}
#phone2 {
	width: 70px;
	text-align: center;
}
#phone3 {
	width: 70px;
	text-align: center;
}
.signYn {
	display: none;
}
.add_desc_pop {
	display: inline-block;
}
.box_cnt.companybox {
	margin-bottom: 0px;
	margin-top:0px;
	    font-size: 12px;
    font-weight: bold;
}

.add_desc_pop .add_desc_box{
	opacity: 0;
    position: absolute;
    top: -630%;
    left: -140px;
    z-index: -1;
    transition: 0.25s;	
}
.popList {
	list-style-type: disc;
	padding-left: 0px;
	margin-left: 15px;
	text-align: left;
}
.add_desc_pop .add_desc_box.erp {
	top: -400%;
}
.period_align {
	display: flex;
    align-items: center;}

#notice-nocnt {
	text-align:center; 
	padding: 100px 0;
	font-weight: bold;
	font-size: 20px;
}
